@import './scss/vars.scss';
@import './scss/header.scss';
@import './scss/sidebar.scss';
@import './scss/contact.scss';

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.app {
    width: 100%;
    min-height: 100vh;
    display: flex;

    >div {
        flex: 1;
    }
}