header {
  background-color: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 25px;
  position: relative;
}
header > svg {
  display: none;
}
@media (max-width: 1024px) {
  header > svg {
    display: block;
    max-height: 40px;
    width: auto;
  }
}
header > span {
  display: inline-block;
}
@media (max-width: 1024px) {
  header > span {
    display: none;
  }
}
header > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header > div span {
  font-size: 1.25rem;
  line-height: 120%;
}
header > div svg {
  fill: #A8A8A8;
}
header > div button {
  background-color: transparent;
  box-shadow: inset 0px 0px 0px 1px #2A3647;
  font-size: 1.75rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #29ABE2;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
header > div button:hover {
  background-color: #2A3647;
  color: #FFF;
}

.sidebar {
  width: 100%;
  max-width: 232px;
  background-color: #2A3647;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.sidebar a {
  text-decoration: none;
}
.sidebar menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  width: 8rem;
}
.sidebar menu a {
  color: #CDCDCD;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  transition: all 300ms ease-in-out;
  line-height: 120%;
  z-index: 10;
}
.sidebar menu a svg path {
  fill: #CDCDCD;
  transition: all 300ms ease-in-out;
}
.sidebar menu a::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 42px;
  left: 0;
  background-color: transparent;
  display: block;
  transition: all 300ms ease-in-out;
}
.sidebar menu a.active {
  color: #FFF;
}
.sidebar menu a.active:before {
  background-color: #091931;
}
.sidebar menu a.active svg path {
  fill: #FFF;
}
.sidebar footer {
  display: flex;
  flex-direction: column;
  width: 8rem;
  gap: 1.25rem;
}
.sidebar footer a {
  color: #A8A8A8;
  transition: all 300ms ease-in-out;
  line-height: 120%;
}
.sidebar footer a:hover {
  color: #29ABE2;
}

@media (max-width: 1024px) {
  .sidebar {
    width: 100%;
    max-width: 100%;
    padding: 0 16px;
    flex-direction: row;
    justify-content: space-around;
    background-color: #2A3647;
    z-index: 1000;
    max-height: 80px;
  }
  .sidebar > svg {
    display: none;
  }
  .sidebar footer {
    display: none;
  }
  .sidebar menu {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 0;
  }
  .sidebar menu a {
    position: relative;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    width: 80px;
    gap: 4px;
    padding: 0;
  }
  .sidebar menu a::before {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: transparent;
    display: block;
    border-radius: 8px;
  }
  .sidebar menu a svg {
    height: 24px;
  }
}
.contact-list {
  max-width: 450px;
  background-color: #FFF;
  height: 100%;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1023px) {
  .contact-list {
    max-width: 100%;
    flex: 1;
  }
}
.contact-list .button-container {
  background-color: #FFF;
  width: 100%;
  padding: 25px;
}
.contact-list .button-container button {
  background-color: #2A3647;
  border-radius: 0.625rem;
  color: #FFF;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 18px;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: all 300ms ease-in-out;
}
.contact-list .button-container button svg {
  fill: #fff;
}
.contact-list .button-container button:hover {
  background-color: #29ABE2;
}
@media (max-width: 1023px) {
  .contact-list .button-container {
    position: fixed;
    padding: 0;
    border-radius: 50%;
    max-width: 56px;
    bottom: 100px;
    right: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .contact-list .button-container span {
    display: none;
  }
  .contact-list .button-container button {
    border-radius: 50%;
    width: 56px;
    padding: 12px;
    aspect-ratio: 1/1;
  }
}
.contact-list .list-content {
  overflow-y: auto;
  height: 100%;
  padding: 0 25px;
}
.contact-list .list-content .letter {
  font-size: 1.25rem;
  line-height: 120%;
  background-color: #fff;
  color: #000;
  padding: 16px 30px;
}
.contact-list .list-content hr {
  margin: 8px 0;
  background-color: #D1D1D1;
}
.contact-list .list-content .contact {
  display: flex;
  padding: 1.5rem 1rem;
  border-radius: 0.625rem;
  align-items: center;
  gap: 35px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.contact-list .list-content .contact:hover {
  background-color: #2A3647;
}
.contact-list .list-content .contact:hover .details {
  color: #FFF;
}
.contact-list .list-content .contact .initials-bubble {
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  border: 2px solid #fff;
}
.contact-list .list-content .contact .details {
  font-size: 1.25rem;
  line-height: 120%;
  transition: all 300ms ease-in-out;
}
.contact-list .list-content .contact .details span {
  color: #007CEE;
  font-size: 1rem;
}

.contact-section {
  padding-top: 110px;
  padding-left: 50px;
}
.contact-section h1 {
  font-weight: bold;
  font-size: 3.75rem;
}
.contact-section .separator {
  border-radius: 5px;
  width: 3px;
  height: 50px;
  background-color: #29abe2;
  margin: 0 30px;
}
.contact-section .contact-header {
  font-size: 36px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 32px;
}
.contact-section .contact-header p {
  font-size: 1.6875rem;
}
.contact-section .contact-action {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-left: 40px;
}
.contact-section .contact-action p {
  font-weight: bold;
}
.contact-section .names {
  display: flex;
  font-size: 32px;
  margin-bottom: 8px;
  font-weight: 500;
}
.contact-section .btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #2A3647;
  font-size: 1rem;
}
.contact-section .btn svg {
  fill: #2A3647;
}
.contact-section .initials {
  display: inline-block;
  text-align: center;
  line-height: 100px;
  height: 100px;
  width: 100px;
  font-weight: 500;
  color: white;
  font-size: 48px;
}
.contact-section .contact-initials {
  border: 3px solid white;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  max-width: 120px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact-section .contact-second {
  display: flex;
  align-items: center;
}
.contact-section .contact-information {
  padding-top: 50px;
}
.contact-section .contact-details {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.contact-section .contact-details span {
  font-weight: bold;
  margin-bottom: 15px;
}
.contact-section .contact-details a:nth-child(2) {
  margin-bottom: 20px;
}
.contact-section .contact-information > span {
  margin-bottom: 15px;
  font-size: 1.25rem;
}
.contact-section a {
  text-decoration: none;
  cursor: pointer;
  color: #007cee;
}
.contact-section .button-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media (max-width: 1023px) {
  .contact-section .second-separator {
    border-radius: 5px;
    width: 120px;
    height: 2px;
    background-color: #29abe2;
  }
  .contact-section .separator {
    display: none;
  }
  .contact-section .contact-header {
    flex-direction: column;
    align-items: start;
  }
  .contact-section .burger-menu {
    position: absolute;
    bottom: 100px;
    right: 20px;
    fill: white;
    background-color: #2a3647;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px #c8c9c9;
  }
  .contact-section .arrow-left {
    position: absolute;
    top: 230px;
    right: 20px;
    fill: #29abe2;
  }
}

.edit-contact {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.edit-contact .overlay-add-contact {
  max-width: 1212px;
  width: 100%;
  height: 592px;
  border: 1px solid black;
  border-radius: 30px;
  top: -2901px;
  left: 42px;
  display: flex;
}
.edit-contact .add-contact {
  max-width: 467px;
  width: 100%;
  height: 592px;
  background-color: #2a3647;
  border-radius: 30px 0px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.edit-contact .description {
  max-width: 371px;
  width: 100%;
  height: 129px;
  gap: 16px;
  color: white;
  font-size: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit-contact .description-box {
  max-width: 371px;
  width: 100%;
  height: 113px;
  gap: 8px;
  display: inline;
}
.edit-contact h1 {
  font-size: 70px;
  width: 100%;
}
.edit-contact .subheadline {
  font-size: 32px;
}
.edit-contact .join-icon {
  max-width: 53.93px;
  width: 100%;
  height: 66.48px;
}
.edit-contact .join-container {
  max-width: 371px;
  width: 100%;
}
.edit-contact .separator {
  width: 90px;
  height: 3px;
  background-color: #29abe2;
}
.edit-contact .person-container {
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 25px;
}
.edit-contact .input-container {
  max-width: 422px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 30px;
  position: relative;
  top: 137px;
}
.edit-contact .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.edit-contact .form-name {
  display: flex;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.edit-contact .name-input {
  border: none;
  width: 100%;
  height: 100%;
  color: #d1d1d1;
  font-size: 20px;
  font-weight: 400;
}
.edit-contact .form-email {
  display: flex;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.edit-contact .form-number {
  display: flex;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.edit-contact .x-container {
  display: flex;
  justify-content: right;
  bottom: 70px;
  position: relative;
}
.edit-contact .x-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.edit-contact .button-container {
  margin-top: 32px;
  display: flex;
  gap: 24px;
}
.edit-contact .button-1 {
  max-width: 113px;
  width: 100%;
  height: 55px;
  cursor: pointer;
}
.edit-contact .button-2 {
  max-width: 111px;
  width: 100%;
  height: 57px;
  cursor: pointer;
}
.edit-contact .person-icon {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffffff;
  border-radius: 50%;
}
.edit-contact .button-delete {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: white;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid #2a3647;
  border-radius: 10px;
  padding: 16px;
}
.edit-contact .button-delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-contact .button-save {
  cursor: pointer;
  background-color: #2a3647;
  color: white;
  font-size: 21px;
  border: 1px solid #2a3647;
  border-radius: 10px;
  padding: 16px;
}
.edit-contact .button-save-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1070px) {
  .edit-contact h1 {
    font-size: 50px;
  }
  .edit-contact .subheadline {
    font-size: 24px;
  }
  .edit-contact .button-1 {
    max-width: 90px;
    width: 100%;
  }
  .edit-contact .button-2 {
    max-width: 160px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .edit-contact .contact-section {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .edit-contact .overlay-add-contact {
    max-width: 396px;
    width: 100%;
    height: 760px;
    display: flex;
    flex-direction: column;
  }
  .edit-contact .add-contact {
    max-width: 396px;
    width: 100%;
    height: 352px;
    border-radius: 30px 30px 0px 0px;
  }
  .edit-contact .person-container {
    width: 100%;
    height: 60px;
    max-width: 396px;
  }
  .edit-contact .input-container {
    max-width: 396px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    top: 10px;
  }
  .edit-contact .join-container {
    display: none;
  }
  .edit-contact .subheadline {
    margin-bottom: 10px;
  }
  .edit-contact .x-icon {
    position: absolute;
    top: -338px;
    left: 153px;
  }
  .edit-contact .form {
    max-width: 396px;
    width: 100%;
    align-items: center;
  }
  .edit-contact .form-name {
    width: 364px;
  }
  .edit-contact .form-email {
    width: 364px;
  }
  .edit-contact .form-number {
    width: 364px;
  }
  .edit-contact .button-container {
    margin-top: 0px;
  }
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F6F7F8;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
}
.app > div {
  flex: 1;
}

.content-container {
  display: flex;
  flex-direction: column;
}
.content-container .content {
  max-height: calc(100% - 96px);
  flex: 1;
  display: flex;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #2A3647;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #091931;
}

@media (max-width: 1024px) {
  .app {
    flex-direction: column-reverse;
  }
  .content-container {
    height: calc(100vh - 80px);
  }
}/*# sourceMappingURL=style.css.map */