@import "../../../scss/vars.scss";

.edit-contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;

  .card {
    width: 100%;
    max-width: 1200px;
    display: flex;
    border-radius: 30px;
    overflow: hidden;

    .header-container {
      background-color: $navy-blue;
      padding: 48px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      svg {
        width: auto;
        max-height: 65px;
        margin-bottom: 12px;
      }

      h1 {
        color: #fff;
        font-weight: bold;
        font-size: 3.75rem;
        line-height: 120%;
        margin-bottom: 8px;
      }

      p {
        color: #fff;
        font-size: 1.75rem;
        line-height: 120%;
        margin-bottom: 16px;
      }

      hr {
        max-width: 90px;
        width: 100%;
        height: 3px;
        background-color: $light-blue;
        border: none;
        border-radius: 100vw;
      }
    }

    .form-container {
      padding: 48px;
      padding-bottom: 128px;
      padding-left: 0;
      flex: 1;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;

      .close-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        margin-bottom: 60px;

        svg {
          fill: $navy-blue;
          width: 20px;
        }
      }

      .form {
        width: 100%;
        display: flex;

        > div:first-child {
          width: 100%;
          max-width: 275px;
          display: flex;
          align-items: flex-start;
          justify-content: center;

          .bubble-container {
            width: 120px;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #d1d1d1;
            border: 3px solid #fff;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
            margin-top: 50px;
            color: #fff;
            font-size: 44px;
            line-height: 120%;
            font-weight: 500;

            svg {
              width: 40px;
              height: 40px;
              fill: #fff;
              display: block;
            }
          }
        }

        > div:last-child {
          flex: 1;

          .input-container {
            display: flex;
            border: 1px solid #d1d1d1;
            border-radius: 10px;
            padding: 10px 20px;
            align-items: center;

            #name-requested {
              color: red;
              display: none;
              padding: 2px;
              border: 1px solid red;
              border-radius: 8px;
            }

            #email-requested {
              color: red;
              display: none;
              padding: 2px;
              border: 1px solid red;
              border-radius: 8px;
            }

            #phone-requested {
              color: red;
              display: none;
              padding: 2px;
              border: 1px solid red;
              border-radius: 8px;
            }

            input {
              border: none;
              flex: 1;
              font-size: 1.25rem;
              line-height: 120%;
              margin-right: 20px;

              &::placeholder {
                color: #d1d1d1;
              }

              &:focus {
                outline: none;
              }

              &:-webkit-autofill,
              &:-webkit-autofill:hover,
              &:-webkit-autofill:focus,
              &:-webkit-autofill:active {
                -webkit-box-shadow: 0 0 0 30px transparent inset !important;
                background: transparent !important;
              }
            }

            svg {
              fill: #d1d1d1;
              width: 20px;
            }
          }

          .button-container {
            display: flex;
            gap: 24px;

            button {
              border-radius: 10px;
              padding: 16px;
              border: 1px solid $navy-blue;
              cursor: pointer;
              display: flex;
              align-items: center;
              font-size: 1.25rem;
              line-height: 120%;
              gap: 10px;
              transition: all 0.3s ease-in-out;

              svg {
                transition: all 0.3s ease-in-out;
              }

              &:first-child {
                background-color: transparent;
                color: $navy-blue;

                svg {
                  fill: $navy-blue;
                  width: 15px;
                }

                &:hover {
                  border-color: $light-blue;
                  color: $light-blue;
                  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

                  svg {
                    fill: $light-blue;
                  }
                }
              }

              &:last-child {
                background-color: $navy-blue;
                color: #fff;

                svg {
                  fill: #fff;
                  height: 15px;
                  width: auto;
                }

                &:hover {
                  border-color: $light-blue;
                  color: #fff;
                  background-color: $light-blue;
                  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

                  svg {
                    fill: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#name-requested {
  color: red;
  display: none;
  padding: 2px;
}
#email-requested {
  color: red;
  display: none;
  padding: 2px;
}
#phone-requested {
  color: red;
  display: none;
  padding: 2px;
}
.input-content {
  margin-bottom: 32px;
}
@media (max-width: 1023px) {
  .edit-contact {
    .card {
      flex-direction: column;
      width: 100%;
      height: 100vh;
      border-radius: 0px;

      .form-container {
        padding: 0px;

        .close-container {
          position: absolute;
          right: 20px;
          top: 20px;
          transform: translateX(-50%);
          margin-bottom: 0px;

          svg {
            fill: white;
          }
        }

        .form {
          position: relative;
          margin-left: auto;
          margin-right: auto;
          margin-top: 90px;

          > div:first-child {
            position: absolute;
            left: 50%;
            bottom: 110%;
            transform: translateX(-50%);
          }
          > div:last-child {
            display: flex;
            flex-direction: column;
            align-items: center;

            .button-container {
              .button-none {
                display: none;
              }
            }
          }
        }
      }

      .header-container {
        padding: 66px 24px 66px 24px;

        svg {
          display: none;
        }
        h1 {
          font-size: 47px;
          font-weight: 700;
        }
        p {
          font-size: 20px;
          font-weight: 400;
        }
      }
    }
  }
}
@media (max-width: 350px) {
  .edit-contact {
    .card {
      .form-container {
        .form {
          > div:last-child {
            .input-container {
              padding: 10px 10px;
            }
          }
        }
      }

      .header-container {
        padding: 66px 24px 66px 24px;

        h1 {
          font-size: 42px;
          font-weight: 700;
        }
      }
    }
  }
}
