@import "../../scss/vars.scss";

.home {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .btn-container {
    display: flex;
    gap: 35px;
    align-items: center;

    span {
      font-size: 1.25rem;
    }

    button {
      padding: 16px;
      color: #fff;
      background-color: $navy-blue;
      border-radius: 8px;
      font-weight: bold;
      font-size: 1rem;
      transition: all 0.3s ease-in-out;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: $light-blue;
      }
    }
  }

  .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 16px;
    position: relative;

    .logo-container {
      height: 122px;
      .logo-background {
        background-color: #f6f7f8;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        animation: fadeOut 1s linear forwards 1s;

        @keyframes fadeOut {
          to {
            opacity: 0;
          }
        }
      }

      .logo {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1001;
        left: 50%;
        top: 50vh;
        transform: translate(-50%, -50%) scale(3);
        animation: moveLogo 0.5s ease-in-out forwards 1s;

        @keyframes moveLogo {
          to {
            left: 20px;
            top: 40px;
            transform: translate(-0%, -0%) scale(1);
          }
        }
      }
    }

    .btn-container {
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 16px;

    .btn-container {
      display: none;

      @media (max-width: 1024px) {
        display: flex;
        margin: 42px 0;
      }
    }

    .form-container {
      max-width: 650px;
      width: 100%;
    }

    > div:first-child {
      background-color: #fff;
      border-radius: 30px;
      padding: 50px 115px;
      width: 100%;
      box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);

      @media (max-width: 1024px) {
        padding: 32px 16px;
      }

      .header {
        margin-bottom: 32px;
        text-align: center;
        position: relative;
        padding: 0 32px;
        h1 {
          font-size: 60px;
          color: $navy-blue;
          display: inline-block;
          line-height: 150%;

          hr {
            border: 1.5px solid $light-blue;
            border-radius: 100vw;
            width: 80%;
            margin: auto;
          }
        }

        button {
          position: absolute;
          left: 0;
          top: 50%;
          background-color: transparent;
          border: none;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          transform: translateY(-50%);

          svg {
            height: 24px;
            width: auto;
            fill: $light-blue;
          }
        }
      }

      .form {
        &.error {
          .input-container {
            box-shadow: inset 0px 0px 0px 1px #ff8190;
          }
          .error-message {
            visibility: visible;
          }
        }
        .input-container {
          background-color: #fff;
          padding: 12px 24px;
          box-shadow: inset 0px 0px 0px 1px #d1d1d1;
          border-radius: 10px;
          margin-bottom: 20px;
          display: flex;

          &:last-of-type {
            margin-bottom: 6px;
          }

          &:focus-within {
            box-shadow: inset 0px 0px 0px 1px $light-blue;

            span {
              svg {
                fill: $light-blue;
              }
            }
          }

          input {
            border: 0;
            font-size: 20px;
            width: 100%;

            &::placeholder {
              color: #d1d1d1;
            }

            &:focus {
              outline: none;
            }
          }

          span {
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              height: 16px;
              width: auto;
              fill: #a8a8a8;
            }
          }
        }
      }

      .error-message {
        color: #ff8190;
        margin-bottom: 20px;
        font-size: 12px;
        visibility: hidden;
      }

      .button-container {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        gap: 32px;

        @media (max-width: 1024px) {
          flex-direction: column;
        }

        .btn {
          font-size: 1.3125rem;
          font-weight: bold;
          padding: 12px 24px;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          border: 1px solid $navy-blue;
          transition: all 0.3s ease-in-out;
          text-align: center;

          &:first-child {
            background-color: $navy-blue !important;
            color: #fff !important;
          }

          &:last-child {
            background-color: transparent;
            color: $navy-blue;
          }

          &:hover {
            background-color: $light-blue !important;
            border: 1px solid $light-blue !important;
            color: #fff !important;
          }
        }
      }
    }
  }

  .sublinks {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;

    a {
      color: #a8a8a8;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $light-blue;
      }
    }
  }
}
